[user]
	name = maynkj
	email = maynkj@protonmail.com
[credential]
	helper = osxkeychain
[push]
	default = current
[alias]
  st  = status
  ci  = commit
  br  = branch
  co  = checkout
  df  = diff
  lg  = log -p
  aa  = add -A .
  p   = push
  pom = pull origin master
  pum = pull upstream master
  heroku = push heroku master
[core]
  excludesfile = ~/.gitignore_global
	editor = vim
